@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=STIX+Two+Math&display=swap');

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}

a.button6 {
    display:block;
    width: 150px;
    padding:0.7em 1.4em;
    margin:auto;
    border-radius:0.15em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    margin-bottom: 35px;
}
a.button6:active{
    top:0.1em;
}

@media all and (max-width:30em){
 a.button6 {
    display:block;
    margin:0.4em auto;
    }
}