{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}
    <h1 style="font-family: 'STIX Two Math', serif; text-align: center;">Chuck Norris Jokes</h1>
    <div style="padding: 200px 50px 200px;">
        <figure class="quote">
            <blockquote>
                <h1 style="text-align: center; font-family: 'STIX Two Math', serif;" class="quote">{{data}}</h1>  
            </blockquote>
          </figure>
    </div>

    <a href="" class="button6">New Joke</a>

{% endblock %}

